.ant-tree-node-content-wrapper {
    display: flex;
    align-items: center;

    .ant-tree-iconEle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .ant-tree-title {
        flex: 1;
    }
}